@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <title>My First Web Page</title>
</head>
<h3>My name is Harsh Patel</h3>
<form>
    <label for="num1">First number :</label>
    <input type="number" id="number1" name="number1"></input><br>

    <label for="num2">second number :</label>
    <input type="number" id="number2" name="number2"></input><br>

    <label for="output1">output :</label>
    <output id="output1" name="output1"></output><br>

    <button type="submit">Submit</button>
</form>
@section MyNewSection {
    <p><h2>Another fatal case of Naegleria fowleri</h2>
    <h5>A man living in the Charlotte County, Florida (USA), has died after being infected by the rare brain-eating amoeba 'Naegleria fowleri'. All major American media reported this.</h5></p>
}